# Node
node_modules/
package-lock.json   # optional (depends on team policy)

# Env
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Docker
.dockerignore

# Build
dist/
build/
